* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #989C94;
    text-align: center;
}

h1 {
    color: #E3E7D3;
    font-size: 8vmin;
    background-color: #25291C;
    height: 6rem;
    line-height: 6rem
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    object-fit: cover;
}

.scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}


#user-score,
#comp-score,
#draw-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}


#msg {
    background-color: #25291C;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}